<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Editar // Eliminar Asesora</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="{% static 'Principal/css/admin/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Principal/css/admin/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'Principal/css/admin/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'Principal/css/admin/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'Principal/css/admin/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'Principal/css/admin/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'Principal/css/admin/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{% static 'Principal/css/admin/editar_ase.css' %}" />



</head>

<body>

    <header id="header" class="header fixed-top d-flex align-items-center bg-black">
        <div class="d-flex align-items-center justify-content-between">
            <i class="bi bi-list toggle-sidebar-btn"></i>
            <a href="{% url 'prinadmin' %}" class="logo d-flex align-items-center">
                <img src="{% static 'Principal/img/admin/logo-ha.jpg' %}" alt="">
                <span class="d-none d-lg-block tit-logo">Home<span class="text-danger tit-logo">Adviser</span></span>
            </a>

        </div>


        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle" href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li>


                <li class="nav-item dropdown pe-3">
                    {% for f in usuarios %}
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{{ f.fotoAsesora.url }}" alt="Profile" class="rounded-circle" />
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{f.correo}}</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header ">
                            <h6 class="">{{f.nombres}}</h6>
                            <span>Rol: Administrador</span>
                        </li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center "
                                href="https://api.whatsapp.com/send/?phone=56921908673&text=Hola+tengo+dudas.&type=phone_number&app_absent=0">
                                <i class="bi bi-question-circle"></i>
                                <span>Necesitas Ayuda?</span>
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center " href="{% url 'cerrarSesion' %}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Cerrar Sesión</span>
                            </a>
                        </li>
                    </ul>
                    {% endfor %}
                </li>

            </ul>
        </nav>

    </header>

    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'prinadmin' %}">
              <i class="bi bi-grid"></i>
              <span>Dashboard</span>
            </a>
          </li>
    
          <li class="nav-heading">Paginas</li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'inicio' %}">
              <i class="bi bi-house-door"></i><span>Pagina Inicio</span></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'generar_contrato' %}">
              <i class="bi bi-card-list"></i><span>Contratos</span></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-journal-text"></i><span>Asesoras</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
              <li>
                <a href="{% url 'registro_asesora' %}">
                  <i class="bi bi-circle"></i><span>Registrar Asesora</span>
                </a>
              </li>
              <li>
                <a href="{% url 'aprobar_solicitud' %}">
                  <i class="bi bi-circle"></i><span>Solicitud Asesora</span>
                </a>
              </li>
              <li>
                <a href="{% url 'editar_ase' %}">
                  <i class="bi bi-circle"></i><span>Editar Asesora</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </aside>


    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Editar Asesoras // Eliminar</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'generar_contrato' %}">Asesoras</a></li>
                    <li class="breadcrumb-item active">Editar asesoras</li>
                </ol>
            </nav>
        </div>

        <section class="section dashboard">
            <h2>Asesoras</h2>
            <div class="container marketing">

                <div class="row">
                    <div class="col-md-4 ">

                    </div>

                    <div class="col-md-4 text-center">
                        <p><a class="btn btn-secondary botones" style="background-color: #178954;"
                                href="{% url 'registro_asesora' %}">Añadir Asesora
                                ➕</a></p>
                    </div>

                    <div class="col-md-4 ">

                    </div>
                </div>


            </div>
            <div class="row" style="padding: 10px 0;">
                <div class="col-12">
                    <div class="row">
                        {% for a in asesoras %}
                        <div class="col-md-4">
                            <div class="card" style="height: 100%; width: 100%; margin: 5px px;">
                                <div class="card-body">
                                    <h5 class="card-title text-dark "><b>Nombre: </b> {{ a.id_usuario.nombres }} {{a.id_usuario.apellidos }} </h5>
                                    <img class="bd-placeholder-img card-img-top bordej" width="100px" height="200px"
                                        src="{{ a.id_usuario.fotoAsesora.url }}" role="img"
                                        aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                        focusable="false">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%"
                                        fill="#eceeef" dy=".3em"></text>
                                    </img>
                                    <p class="card-text text-center"><b>Sueldo:</b> ${{ a.salario_deseado }}</p>
                                    <p class="card-text text-center"><b>Estado:</b> {{ a.disponibilidad }}</p>
                                    <div class="row">
                                        <div class="col-md-6 text-center">
                                            <a class="btn btn-secondary" style="background-color: #178954;"
                                                href="{% url 'vista_edit' a.id_asesora %}">Editar ✏️</a>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <a class="btn btn-secondary" style="background-color: #dc3545;"
                                                href="{% url 'delete_ase' a.id_asesora a.id_usuario.id_usuario %}">Borrar 🧹</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>


    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>HomeAdviser</span></strong>. Todos los derechos reservados
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <script src="{% static 'Principal/js/admin/apexcharts.min.js' %}"></script>
    <script src="{% static 'Principal/js/admin/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'Principal/js/admin/chart.umd.js' %}"></script>
    <script src="{% static 'Principal/js/admin/echarts.min.js'  %}"></script>
    <script src="{% static 'Principal/js/admin/quill.min.js' %}"></script>
    <script src="{% static 'Principal/js/admin/simple-datatables.js' %}"></script>
    <script src="{% static 'Principal/js/admin/tinymce.min.js' %}"></script>
    <script src="{% static 'Principal/js/admin/validate.js' %}"></script>
    <script src="{% static 'Principal/js/admin/main.js' %}"></script>
</body>

</html>