<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Informacion General</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="{% static 'Principal/css/admin/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Principal/css/admin/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'Principal/css/admin/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'Principal/css/admin/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'Principal/css/admin/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'Principal/css/admin/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'Principal/css/admin/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{% static 'Principal/css/admin/pag_principal_a.css' %}" />



</head>

<body>

    <header id="header" class="header fixed-top d-flex align-items-center bg-black">
        <div class="d-flex align-items-center justify-content-between">
            <i class="bi bi-list toggle-sidebar-btn"></i>
            <a href="{% url 'prinadmin' %}" class="logo d-flex align-items-center">
                <img src="{% static 'Principal/img/admin/logo-ha.jpg' %}" alt="">
                <span class="d-none d-lg-block tit-logo">Home<span class="text-danger tit-logo">Adviser</span></span>
            </a>

        </div>


        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle" href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li>




                <li class="nav-item dropdown pe-3">
                    {% for f in usuarios %}
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{{ f.fotoAsesora.url }}" alt="Profile" class="rounded-circle" />
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{f.correo}}</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header ">
                            <h6 class="">{{f.nombres}}</h6>
                            <span>Rol: Administrador</span>
                        </li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center "
                                href="https://api.whatsapp.com/send/?phone=56921908673&text=Hola+tengo+dudas.&type=phone_number&app_absent=0">
                                <i class="bi bi-question-circle"></i>
                                <span>Necesitas Ayuda?</span>
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center " href="{% url 'cerrarSesion' %}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Cerrar Sesión</span>
                            </a>
                        </li>
                    </ul>
                    {% endfor %}
                </li>

            </ul>
        </nav>

    </header>

    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'prinadmin' %}">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-heading">Paginas</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'generar_contrato' %}">
                    <i class="bi bi-card-list"></i><span>Contratos</span></i>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Asesoras</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'registro_asesora' %}">
                            <i class="bi bi-circle"></i><span>Registrar Asesora</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'aprobar_solicitud' %}">
                            <i class="bi bi-circle"></i><span>Solicitud Asesora</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'editar_ase' %}">
                            <i class="bi bi-circle"></i><span>Editar Asesora</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>


    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Asesoras</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Asesoras</a></li>
                    <li class="breadcrumb-item active">Modificar Asesora</li>
                </ol>
            </nav>
        </div>


        <section class="section dashboard">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">Modificar asesora</h5>
                            <hr class="mt-0">

                            {% for a in asesoras %}
                            <form class="row g-3 formulario" id="formulario" onsubmit="return validarFormulario()"
                                action="{% url 'edit' a.id_asesora a.id_usuario.id_usuario %}" method="POST" name="formulario"
                                enctype="multipart/form-data">

                                {% csrf_token %}

                                <div class=" col-md-4">
                                </div>

                                <div class="col-md-4 text-center">
                                    {% if messages %}
                                    <div id="messages-container" class="messag">
                                        {% for i in messages %}
                                        <p style="padding: 0.5em;"> {{ i }} </p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="col-md-4"></div>

                                <h6 class="text-dark subtitulo-form">Datos Personales</h6>
                                <div class="row pb-2">

                                    <div class="col-md-6 formulario__grupo" id="grupo__nombre">
                                        <label for="nombre" class="form-label formulario__label">Nombre</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="form-control formulario__input" id="nombre"
                                                name="nombre" value="{{ a.id_usuario.nombres }}" required>

                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>

                                        <p class="formulario__input-error">Solo Puede contener letras</p>

                                    </div>
                                    <div class="col-md-6 formulario__grupo" id="grupo__ap1">
                                        <label for="ap1" class="form-label formulario__label">Apellidos</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="form-control formulario__input" id="apellido1"
                                                name="apellido1" value="{{ a.id_usuario.apellidos }}" required>

                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>

                                        <p class="formulario__input-error">Solo puede contener letras.</p>

                                    </div>
                                </div>
                                <div class="row pt-2">
                                    <div class="col-md-4 formulario__grupo" id="grupo__rut">
                                        <label for="inputRut" class="form-label formulario__label">Rut</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="form-control formulario__input" id="rut"
                                                value="{{ a.id_usuario.rut }}" name="rut" required>
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>

                                        <p class="formulario__input-error">El rut ingresado no es valido.
                                        </p>

                                    </div>

                                    <div class="col-md-4 formulario__grupo" id="grupo__edad">
                                        <label for="inputEdad" class="form-label formulario__label">Edad</label>
                                        <div class="formulario__grupo-input">
                                            <input type="number" class="form-control formulario__input" id="edad"
                                                value="{{ a.id_usuario.edad }}"" name=" edad" required>
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>

                                        <p class="formulario__input-error">Solo mayores de edad</p>

                                    </div>

                                    <div class="col-md-4 formulario__grupo" id="grupo__email">
                                        <label for="inputEmail4" class="form-label formulario__label">Correo</label>
                                        <div class="formulario__grupo-input">
                                            <input type="email" class="form-control formulario__input" id="email"
                                                name="email" value="{{ a.id_usuario.correo }}" required>
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>

                                        <p class="formulario__input-error">Recuerda que el formato del correo es
                                            "ejemplo@ejemplo.cl</p>

                                    </div>
                                </div>

                                <div class="row pt-2">

                                    <div class="col-md-12 formulario__grupo" id="grupo__numero">
                                        <label for="inputTelefono" class="form-label formulario__label">Telefono</label>
                                        <div class="formulario__grupo-input">
                                            <input type="tel" class="form-control formulario__input"" id=" numero"
                                                name="numero" value="{{ a.id_usuario.telefono }}" required>
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>

                                        <p class="formulario__input-error">Debes poner un numero valido de 9
                                            digitos</p>

                                    </div>
                                </div>
                                <div class="row pt-2">

                                    <div class="col-4 formulario__grupo" id="grupo__nacionalidad">
                                        <label for="inputNacionalidad"
                                            class="form-label formulario__label">Nacionalidad</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="form-control formulario__input" id="nacionalidad"
                                                name="nacionalidad" value="{{ a.id_usuario.nacionalidad }}" required>
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>

                                        <p class="formulario__input-error">Solo puede contener letras.</p>

                                    </div>
                                    <div class="col-4">
                                        <label for="inputGenero" class="form-label formulario__label">Genero</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="form-control formulario__input" disabled
                                                id="nacionalidad" name="nacionalidad" value="{{ a.id_usuario.genero }}">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="inputEstado" class="form-label formulario__label">Estado
                                            Civil</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="form-control formulario__input" disabled
                                                id="nacionalidad" name="nacionalidad"
                                                value="{{ a.id_usuario.estado_civil }}">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                    </div>

                                </div>
                                <div class="row pt-2">
                                    <div class="col-md-4">
                                        <label for="inputRegion" class="form-label formulario__label">Región</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="form-control formulario__input" disabled
                                                id="nacionalidad" name="nacionalidad"
                                                value="{{ a.id_usuario.id_comuna.id_region.nom_region }}">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="inputComuna" class="form-label formulario__label">Comuna</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="form-control formulario__input" disabled
                                                id="nacionalidad" name="nacionalidad"
                                                value="{{ a.id_usuario.id_comuna.nom_comuna }}">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-4 formulario__input" id="grupo__direccion">
                                        <label for="inputDireccion"
                                            class="form-label formulario__label">Dirección</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="form-control formulario__input" disabled
                                                id="nacionalidad" name="nacionalidad"
                                                value="{{ a.id_usuario.direccion }}">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">Recuerda completar este campo.</p>

                                    </div>
                                </div>
                                <h6 class="text-dark subtitulo-form mt-4">Descripciones Asesora</h6>
                                <div class="row pt-2">
                                    <div class="col-md-6">
                                        <label class="form-label">Experiencia Laboral</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="form-control formulario__input" disabled
                                                id="nacionalidad" name="nacionalidad" value="{{ a.esperiencia_lab }}">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Especialidad:</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="form-control formulario__input" disabled
                                                id="nacionalidad" name="nacionalidad"
                                                value="{{ especialidada.id_especialidad.nombre_especialidad }}">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-2">

                                    <div class="col-md-6">
                                        <label for="inputtipo_asesora" class="form-label">Tipo Asesora</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="form-control formulario__input" disabled
                                                id="nacionalidad" name="nacionalidad" value="{{ a.tipo_asesora }}">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-end pt-3">
                                    <button type="reset" class="btn btn-secondary botones-form">Resetear</button>
                                    <button type="submit" class="btn btn-primary botones-form">Editar</button>
                                </div>

                            </form>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>



    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>HomeAdviser</span></strong>. Todos los derechos reservados
        </div>

    </footer>



    <script>
        // Obtener el contenedor de los mensajes
        var messagesContainer = document.getElementById("messages-container");

        // Mostrar los mensajes durante 5 segundos (5000 milisegundos)
        setTimeout(function () {
            messagesContainer.style.display = "none";
        }, 5000);
    </script>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>


    <script src="{% static 'Principal/js/admin/apexcharts.min.js' %}"></script>
    <script src="{% static 'Principal/js/admin/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'Principal/js/admin/chart.umd.js' %}"></script>
    <script src="{% static 'Principal/js/admin/echarts.min.js'  %}"></script>
    <script src="{% static 'Principal/js/admin/quill.min.js' %}"></script>
    <script src="{% static 'Principal/js/admin/simple-datatables.js' %}"></script>
    <script src="{% static 'Principal/js/admin/tinymce.min.js' %}"></script>
    <script src="{% static 'Principal/js/admin/validate.js' %}"></script>
    <script src="{% static 'Principal/js/admin/validacion-form.js' %}"></script>
    <script src="{% static 'Principal/js/admin/main.js' %}"></script>
    <script src="https://kit.fontawesome.com/dac10f1627.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"
        integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script>
        // Obtener el contenedor de los mensajes
        var messagesContainer = document.getElementById("messages-container");

        // Mostrar los mensajes durante 5 segundos (5000 milisegundos)
        setTimeout(function () {
            messagesContainer.style.display = "none";
        }, 1000000);
    </script>
</body>

</html>