/*TODO Importar fuente */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*! Aqui se encuentra el css general */
* {
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
}

html,

body {
    height: 100%;
}



/*! Aqui se encuentra el css del header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(131, 128, 128, 0.5);
    color: white;
    height: 100px; /* Altura del header */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;


}

.logo {
    height: 100px;
    width: 100px;
}

/** Aqui se encuentra el css del cuerpo */
main {
    flex: 1;
    padding-left: 50px;
    padding-right: 50px;
}

.banner {
    width: 100%;
}

.separador{
    height: 60px;
}

/*! Aqui se encuentra el css del destacado */
.Tdestacado {
    height: 350px;
}

.sos{
    background-color: rgba(164, 164, 164, 0.093);
    padding-bottom: 3%;
}
.sos2{
    background-color: rgba(164, 164, 164, 0.093);
    padding-top: 2%;
    padding-bottom: 2%;
}
.destacado {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ordenar{
    font-weight: bold;
    margin-right: 2rem;
}


.destacado img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-color: black;
    border-width: 2.5px;
    border-style: solid;
    border-radius: 20px;
}

/*! Aqui se encuentra el css del footer */
footer {
    color: white;
    position: fixed;
    bottom: 0px;
    height: 44px;
    width: 100%;
    background: rgb(131, 128, 128);
}

footer div .row .col-md-4 {
    margin-top: 10px;
}