/*TODO Importar fuente */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*! Aqui se encuentra el css general */
* {
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
}

html,

body {
    height: 100%;
}



/*! Aqui se encuentra el css del header */
/* Estilo del header */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(131, 128, 128, 0.789);
    color: white;
    height: 60px; /* Altura del header */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease; /* Transición suave */
}

.fixed-header .logo-small {
    display: none; /* Al principio, el logo pequeño está oculto */
}

.fixed-header .logo-small img {
    width: 40px; /* Tamaño pequeño del logo en el header */
    height: auto;
}

/* Imagen principal de fondo */
.hero-image {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    transition: opacity 1s ease-in-out; /* Transición suave de opacidad */
}

/* Logo centrado en la imagen grande */
.hero-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease, width 0.5s ease; /* Transiciones */
}

.hero-logo img {
    width: 200px; /* Tamaño grande del logo en la imagen */
    height: auto;
}

.content {
    padding: 2em;
    background-color: #f1f1f1;
}

.content h2 {
    text-align: center;
    margin-bottom: 1em;
}

.content p {
    margin: 1em 0;
    font-size: 1.2em;
    line-height: 1.5;
}


/** Aqui se encuentra el css del cuerpo */
main {
    flex: 1;
    padding-left: 50px;
    padding-right: 50px;
}

.banner {
    width: 100%;
}

.separador{
    height: 45px;
}

/*! Aqui se encuentra el css del destacado */
.Tdestacado {
    height: 350px;
}

.sos{
    background-color: rgba(164, 164, 164, 0.093);
    padding-bottom: 3%;
}
.sos2{
    background-color: rgba(164, 164, 164, 0.093);
    padding-top: 2%;
    padding-bottom: 2%;
}
.destacado {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ordenar{
    font-weight: bold;
    margin-right: 2rem;
}


.destacado img {
    max-height: 400px;
    max-width: 536px;
    object-fit: cover;
    border-color: black;
    border-width: 2.5px;
    border-style: solid;
    border-radius: 20px;
}

/*! Aqui se encuentra el css del footer */
footer {
    color: white;
    position: fixed;
    bottom: 0px;
    height: 44px;
    width: 100%;
    background: rgb(131, 128, 128);
}

footer div .row .col-md-4 {
    margin-top: 10px;
}

.pulse-effect {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #4a4c4e; /* Color base del botón */
    transition: transform 0.3s ease-in-out; /* Transición suave del efecto de pulsación */
}
.pulse-effect:hover {
    background-color: #72808f; /* Cambia el color al pasar el cursor sobre el botón */
}
.pulse-effect:active {
    transform: scale(0.9); /* Reduce ligeramente el tamaño del botón cuando se hace clic */
}