.colorrojo{
    background-color: #F05454;
    border-color: #F05454;
    color: white;
}

.colornegro{
  background-color: #121212;
  border-color: #121212;
  color: #e5e5e5;
  
}

.colorblanco{
  background-color: white;
  border-color: white;
  color: black;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }

.tamlogo{
    width: 50px;
    height: 50px;
}

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }

@media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
}
  
.xd{
    position: absolute;
    padding-top: 0.7%;
    font-size: 15px;
    margin-top: 5px;
}
  
.url{
    text-decoration: none;
    color: white;
}

.espacio{
  padding-bottom: 10%;
  font-size: 20px;
}

.subrayado{
  text-decoration: none;
  color: white;
}

.f{
  padding-bottom: 4px;
}

.fotoadmin{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.redon{
 border-radius: px;
}

.letras{
  color: white;
}

.abc{
  display: grid;
}

.tam{
  margin: 0;
}

.slide{
  display: inline;
}

.mat{
  margin-top: 5%;
}

.titulo{
    font-size: 16px;
    color: black;
}

.icon{
  display: inline-block;
  animation: float 5s ease-in-out infinite;
}
.lapiz{
  animation-delay: 1s;
}
.lupa{
  animation-delay: 2s;
}
.bolsa{
  animation-delay: 3s;
}
@keyframes float{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0);
  }
}
.t{
  color: #121212;
  font-weight: normal;
}
.tieso{
  height: 820px;
}
/*----productos----*/
.card{
  border-radius: 20px;
  padding: 5%;
}

.bordej{
  border-radius: 20px;
}

@media (max-)